body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    justify-content: center;
}

/* Header */

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #1f2937;
    padding: 15px;
    box-sizing: border-box;
}

.header-logo {
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
    flex: 0 1 24%;
}

a {
    text-decoration: none;
    color: #f9faf8;
    font-weight: 300;
    font-size: 18px;
}

ul {
    list-style-type: none;
    padding: 15px;
    margin: 0;
    display: flex;
    gap: 15px;
}

nav {
    flex-shrink: 0;
}


/* Header */ 

/* Hero Text */

.placeholder {
    height: 200px;
    width: 300px;
    background-color: #1f2937;
    display: flex;
    align-items: center;
    border: 3px solid white;
    border-radius: 10px;
}

.hero-container {
    display: flex;
    background-color: #1f2937;
    justify-content: space-evenly;
    align-items: center;
    padding: 15px;
    flex-wrap: wrap;
    height: 400px;
    box-sizing: border-box;
}

.hero-maintext {
    font-size: 48px;
    margin-bottom: 0;
    font-weight: 800;
}

.hero-subtext {
    word-wrap: break-word;
    width: 450px;
    font-size: 18px;
}

.hero-text {
    flex-shrink: 0;
    color:#f9faf8;
    width: 400px;
    word-wrap: break-word;
    white-space: normal
}

.button {
    background-color: #3882f6;
    color: #f9faf8;
    border-color: #3882f6;
    border-style: none;
    padding: 8px 30px;
    border-radius: 6px;
    font-size: 15px;
    font-family: Roboto;
    font-weight: 700;
    margin-top: 5px

}

/* Information */

.placeholder-two {
    height: 120px;
    width: 150px;
    background: linear-gradient(white, white) ;
    border: 3px solid #3882f6;
    border-radius: 7px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}

.information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.information-header {
    flex-shrink: 0;
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    color: #1f2937;
}

.information-content {
    flex-shrink: 0;
    width: 200px;
    text-align: center;
}

.information-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}

.line-break {
    width: 100%;
    margin-bottom: 25px
}
